<?xml version="1.0"?>

<model>
  <name>Plane with ArUco markers</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Lapin Matvey</name>
    <email>example@mail.ru</email>
  </author>

  <description>
    Box with aruco markers. One on each side.
  </description>
</model>
